<ion-view view-title="Kup za mniej" ng-controller="SearchController as vm">
  <ion-content>
      <form name="searchForm" novalidate ng-submit="search()">
      <div class="list list-inset">
          <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Czego szukasz?" ng-model="vm.criteria.text" required>
          </label>
          <div>
              <button type="submit" class="button button-block button-positive" ng-click="search()" ng-disabled="searchForm.$invalid">
                  Szukaj
              </button>
          </div>
          <div class="list">
              <a class="item item-thumbnail-left" href="#/app/offer/{{item.id}}" ng-repeat="item in vm.items">
                  <img ng-src="{{item.mainImage.small}}">
                  <div class="wrap">{{item.name}}</div>
              </a>
          </div>
      </div>
      </form>
  </ion-content>
</ion-view>
