<ion-view view-title="Allegro">
    <ion-content>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Szukaj" >
                </label>

            </div>
            <button onclick="window.plugins.socialsharing.shareViaTwitter('Kup za mniej - OnePlus One #allegro.123424154', 'https://www.google.nl/images/srpr/logo4w.png', 'http://allegro.pl/auckcja/123424154')">Share on twitter</button>
        </div>
    </ion-content>
</ion-view>
