/* Empty. Add your own CSS if you like */
.wrap {
    white-space: normal;
}

#container{
}


#legend {
	z-index: 1000;
	position: relative;
	margin-top: -130px;
	margin-left: 50px;	
}

#legend .row {
	padding-top: 5px;
}

.legendBox {
	width: 20px;
	height: 20px;
}